<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i></i>Home</a></li>
	<li><a href="/schedule"><i></i>Schedule</a></li>
	<li><a href="http://jianguoyun.com/p/DU3jVLkQv6ICGJGQCw"><i></i>Slides</a></li>
	<li><a href="http://ipads.se.sjtu.edu.cn/courses/qa"><i></i>Q&A</a></li>
	<li><a href="/groups"><i></i>Groups</a></li>
        <li><a href="/about"><i></i>About</a></li>
      </ul>
    </div>
  </nav>
</header>
